{{- /* Supported: personal, work, server. Scripted: chezmoi init --promptString profile=server */ -}}
{{- $profile := promptStringOnce . "profile" "profile" "personal" }}
[edit]
    apply = true
    watch = true

[update]
    apply = true

[data]
    profile = "{{ $profile }}"
