{{- $defaultGithubAccount := "regutierrez" -}}
{{- if eq .profile "work" -}}
{{-   $defaultGithubAccount = "pael-akkio" -}}
{{- end -}}
{{- $githubDefaultAccount := (index . "github_default_account" | default $defaultGithubAccount) -}}
{{ if eq $githubDefaultAccount "regutierrez" -}}
[user]
	name = regutierrez
	email = rpegutierrez@gmail.com
{{ else -}}
[user]
	name = pael-akkio
	email = pael@akkio.com
{{ end }}
[core]
	pager = delta
[delta]
	syntax-theme = {{ if eq .chezmoi.os "darwin" }}Catppuccin Frappe{{ else }}gruvbox-dark{{ end }}

[url "https://github.com/regutierrez/"]
	insteadOf = git@github.com:regutierrez/
	insteadOf = ssh://git@github.com/regutierrez/
	insteadOf = git@github.com-personal:regutierrez/
	insteadOf = ssh://git@github.com-personal/regutierrez/

[url "https://github.com/HorizonMedia/"]
	insteadOf = git@github.com:HorizonMedia/
	insteadOf = ssh://git@github.com/HorizonMedia/
	insteadOf = git@github.com-hz:HorizonMedia/
	insteadOf = ssh://git@github.com-hz/HorizonMedia/

[url "https://github.com/akkio-inc/"]
	insteadOf = git@github.com:akkio-inc/
	insteadOf = ssh://git@github.com/akkio-inc/
	insteadOf = git@github.com-pael:akkio-inc/
	insteadOf = ssh://git@github.com-pael/akkio-inc/

[includeIf "hasconfig:remote.*.url:**:regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:**/regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:**:HorizonMedia/**"]
	path = ~/.gitconfig-horizon
[includeIf "hasconfig:remote.*.url:**/HorizonMedia/**"]
	path = ~/.gitconfig-horizon
[includeIf "hasconfig:remote.*.url:**:akkio-inc/**"]
	path = ~/.gitconfig-akkio
[includeIf "hasconfig:remote.*.url:**/akkio-inc/**"]
	path = ~/.gitconfig-akkio
