{{ if eq .profile "work" -}}
[user]
	name = pael-akkio
	email = pael@akkio.com

[core]
	pager = hunk pager
{{ else -}}
[user]
	name = regutierrez
	email = regutierrez@gmail.com

[core]
	pager = delta
{{ end }}
[delta]
	syntax-theme = {{ if eq .chezmoi.os "darwin" }}Catppuccin Frappe{{ else }}gruvbox-dark{{ end }}
[trace2]
	eventTarget = af_unix:stream:{{ .chezmoi.homeDir }}/.git-ai/internal/daemon/trace2.sock
	eventNesting = 0
