{{ if (index . "github_account_routing" | default false) -}}
[user]
	name = pael-akkio
	email = pael@akkio.com

[core]
	pager = delta
{{ else if eq .profile "work" -}}
[user]
	name = pael-akkio
	email = pael@akkio.com

[core]
	pager = hunk pager
{{ else -}}
[user]
	name = regutierrez
	email = regutierrez@gmail.com

[core]
	pager = delta
{{ end }}
[delta]
	syntax-theme = {{ if eq .chezmoi.os "darwin" }}Catppuccin Frappe{{ else }}gruvbox-dark{{ end }}
[trace2]
	eventTarget = af_unix:stream:{{ .chezmoi.homeDir }}/.git-ai/internal/daemon/trace2.sock
	eventNesting = 0
{{ if (index . "github_account_routing" | default false) -}}

# Select the SSH identity from the GitHub repository owner.
[url "git@github.com-personal:regutierrez/"]
	insteadOf = git@github.com:regutierrez/
	insteadOf = ssh://git@github.com/regutierrez/
	insteadOf = https://github.com/regutierrez/

[url "git@github.com-hz:HorizonMedia/"]
	insteadOf = git@github.com:HorizonMedia/
	insteadOf = ssh://git@github.com/HorizonMedia/
	insteadOf = https://github.com/HorizonMedia/

# Select the personal commit author from the repository remote.
[includeIf "hasconfig:remote.*.url:git@github.com:regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@github.com-personal:regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:ssh://git@github.com-personal/regutierrez/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:https://github.com/regutierrez/**"]
	path = ~/.gitconfig-personal
{{ end -}}
