{{ if (index . "github_account_routing" | default false) -}}
# Public host routing only; SSH private keys remain local to this machine.
Host github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519_pael
	IdentitiesOnly yes

Host github.com-personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host github.com-hz
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519_horizon
	IdentitiesOnly yes
{{ else -}}
Include ~/.colima/ssh_config

Host github-regutierrez
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_ed25519_regutierrez
	IdentitiesOnly yes
	IdentityAgent none

Host *
	IgnoreUnknown UseKeychain
	AddKeysToAgent yes
	UseKeychain yes
	IdentityFile ~/.ssh/id_ed25519
{{ end -}}
